:root {
  --inset-button-scroll-top: var(--spacer-10);
}

@media screen and (min-width: 768px) {
  :root {
    --inset-button-scroll-top: var(--spacer-20);
  }
}

.button-scroll-top {
  position: fixed;
  bottom: var(--inset-button-scroll-top);
  right: var(--inset-button-scroll-top);
  line-height: var(--line-height-small);
}

.button-scroll-top .icon {
  fill: currentColor;
  transform: rotate(90deg);
}
