---
import MainLayout from '@layouts/MainLayout.astro'

const title = 'Uikit'

const buttonSizes = [
  {
    name: 'small',
    class: 'button-small'
  },
  {
    name: 'default',
    class: ''
  },
  {
    name: 'large',
    class: 'button-large'
  },
  {
    name: 'round',
    class: 'button-round'
  }
]

const buttonVariants = [
  {
    name: 'primary',
    class: 'button-primary'
  },
  {
    name: 'secondary',
    class: 'button-secondary'
  },
  {
    name: 'neutral',
    class: 'button-neutral'
  },
  {
    name: 'ghost primary',
    class: 'button-ghost-primary'
  },
  {
    name: 'ghost secondary',
    class: 'button-ghost-secondary'
  },
  {
    name: 'ghost neutral',
    class: 'button-ghost-neutral'
  },
  {
    name: 'link primary',
    class: 'button-link-primary'
  },
  {
    name: 'link secondary',
    class: 'button-link-secondary'
  },
  {
    name: 'link neutral',
    class: 'button-link-neutral'
  }
]
---

<MainLayout
  lang="fr"
  title="uikit"
>
  <div class="uikit">
    <h1>Titre de type h1</h1>
    <h2>Titre de type h2</h2>
    <h3>Titre de type h3</h3>
    <h4>Titre de type h4</h4>
    <h5>Titre de type h5</h5>
    <h6>Titre de type h6</h6>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio accusantium
      voluptate nisi <a
        href="#"
        class="link"
        >corporis exercitationem</a
      > tempora natus laborum reprehenderit animi cumque eaque provident officia, assumenda beatae nihil
      quae placeat molestias.
    </p>

    <ul class="list">
      <li>Element de liste</li>
      <li>Element de liste</li>
      <li>
        <a
          href="#"
          class="link-out"
          >Element de liste
        </a>
      </li>
    </ul>

    <!-- prettier-ignore -->
    {
      buttonSizes.map((size) => (
        <div class="uikit-buttons">
          {buttonVariants.map((variant) => (
            <button
              type="button"
              class={`${variant.class} text-center ${size.class}`}
            >
              Button {variant.name} {size.name}
            </button>
          ))}
        </div>
      ))
    }
  </div>
</MainLayout>

<style>
  .uikit {
    display: grid;
    gap: var(--spacer-40);
    justify-items: start;
  }

  .uikit-buttons {
    display: flex;
    gap: var(--spacer-20);
    flex-wrap: wrap;
    margin-block-start: var(--spacer-20);
  }
</style>
