---
import '@styles/components/button-top.css'
---

<a
  class="button-primary button-square button-scroll-top"
  href="#top"
  title="Retour en haut"
>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    aria-hidden="true"
    focusable="false"
    class="icon"
  >
    <path
      d="M22 11.48H4.52l5.15-4.72c.4-.41.4-1.03.1-1.44-.4-.4-1-.4-1.41-.1L1.2 11.69l-.1.1c0 .1-.1.1-.1.2V12.81c0 .1.1.1.1.21 0 0 0 .1.1.1l7.07 6.57c.3.2.5.31.7.31.3 0 .5-.1.7-.3.41-.42.31-1.03-.1-1.44l-5.04-4.73H22c.6 0 1.01-.4 1.01-1.02s-.5-1.03-1-1.03z"
    ></path>
  </svg>
</a>
