---
import '@styles/components/content-section.css'

const { id, title } = Astro.props
---

<section class="section">
  <h2
    id={id}
    class="section-title"
  >
    {title}
  </h2>
  <slot />
</section>
