---
import '@styles/components/skiplinks.css'
---

<ul class="skiplinks">
  <li>
    <a
      href="#nav"
      class="visually-hidden visually-hidden-focusable"
    >
      Aller au menu
    </a>
  </li>
  <li>
    <a
      href="#main"
      class="visually-hidden visually-hidden-focusable"
    >
      Aller au contenu
    </a>
  </li>
</ul>
