:root {
  /* Font-family */
  --font-family-button: var(--font-family-slab);

  /* Font size */
  --font-size-button-default: var(--font-size-16);
  --font-size-button-large: var(--font-size-20);
  --font-size-button-small: var(--font-size-14);

  /* Padding */
  --padding-inline-button-large: var(--spacer-20);
  --padding-inline-button-default: var(--spacer-16);
  --padding-inline-button-small: var(--spacer-8);

  /* Sizes */
  --height-button-large: var(--spacer-48);
  --height-button-default: var(--spacer-40);
  --height-button-small: var(--spacer-32);

  --border-radius-button-default: var(--border-radius-4);

  /* Full */
  /* Primary */
  --color-background-button-primary: var(--color-primary);
  --color-background-button-primary-hover: var(--color-primary-dark);
  --color-text-button-primary: var(--color-on-primary);
  --color-text-button-primary-hover: var(--color-on-primary);
  /* Secondary */
  --color-background-button-secondary: var(--color-secondary);
  --color-background-button-secondary-hover: var(--color-secondary-dark);
  --color-text-button-secondary: var(--color-on-secondary);
  --color-text-button-secondary-hover: var(--color-on-secondary);
  /* Neutral */
  --color-background-button-neutral: var(--color-neutral-light);
  --color-background-button-neutral-hover: var(--color-neutral-dark);
  --color-text-button-neutral: var(--color-on-neutral);
  --color-text-button-neutral-hover: var(--color-on-neutral);

  /* Ghosts */
  --color-background-button-ghost: transparent;
  --color-border-button-ghost: currentColor;
  --border-width-button-ghost-large: 2px;
  --border-width-button-ghost-default: 1px;
  --border-width-button-ghost-small: 1px;

  /* Primary ghost */
  --color-text-button-ghost-primary: var(--color-primary);
  --color-text-button-ghost-primary-hover: var(--color-primary-dark);
  /* Secondary ghost */
  --color-text-button-ghost-secondary: var(--color-secondary);
  --color-text-button-ghost-secondary-hover: var(--color-secondary-dark);
  /* Neutral ghost */
  --color-text-button-ghost-neutral: var(--color-neutral-light);
  --color-text-button-ghost-neutral-hover: var(--color-neutral-dark);
}

[class*="button-"] {
  border: none;
  background-color: initial;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family-button);
  font-size: var(--font-size-button-default);
  border-radius: var(--border-radius-button-default);
  display: inline-grid;
  place-content: center;
  min-height: var(--height-button-default);
  padding-inline: var(--padding-inline-button-default);
  transition: background-color var(--transition-speed-default), color var(--transition-speed-default);
}

.button-small {
  font-size: var(--font-size-button-small);
  padding-inline: var(--padding-inline-button-small);
  min-height: var(--height-button-small);
}

.button-large {
  font-size: var(--font-size-button-large);
  padding-inline: var(--padding-inline-button-large);
  min-height: var(--height-button-large);
}

.button-round {
  border-radius: var(--border-radius-max);
}

.button-square {
  width: var(--height-button-default);
  padding: 0;
}
.button-square.button-large {
  width: var(--height-button-large);
}
.button-square.button-small {
  width: var(--height-button-small);
}



/* Button full variants */

.button-primary {
  background-color: var(--color-background-button-primary);
  color: var(--color-text-button-primary);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--color-background-button-primary-hover);
}

.button-secondary {
  background-color: var(--color-background-button-secondary);
  color: var(--color-text-button-secondary);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--color-background-button-secondary-hover);
}

.button-neutral {
  background-color: var(--color-background-button-neutral);
  color: var(--color-text-button-neutral);
}

.button-neutral:hover,
.button-neutral:focus {
  background-color: var(--color-background-button-neutral-hover);
}



/* Button ghosts variants */

[class*="button-ghost"] {
  border: var(--border-width-button-ghost-default) solid var(--color-border-button-ghost);
  transition: border var(--transition-speed-default) color var(--transition-speed-default);
}

[class*="button-ghost"].button-small {
  border-width: var(--border-width-button-ghost-small);
}

[class*="button-ghost"].button-large {
  border-width: var(--border-width-button-ghost-large);
}

/* Buttons ghost variants */

.button-ghost-primary {
  background-color: var(--color-background-button-ghost);
  color: var(--color-text-button-ghost-primary);
}

.button-ghost-primary:hover,
.button-ghost-primary:focus {
  color: var(--color-text-button-ghost-primary-hover);
}

.button-ghost-secondary {
  background-color: var(--color-background-button-ghost);
  color: var(--color-text-button-ghost-secondary);
}

.button-ghost-secondary:hover,
.button-ghost-secondary:focus {
  color: var(--color-text-button-ghost-secondary-hover);
}

.button-ghost-neutral {
  background-color: var(--color-background-button-ghost);
  color: var(--color-text-button-ghost-neutral);
}

.button-ghost-neutral:hover,
.button-ghost-neutral:focus {
  color: var(--color-text-button-ghost-neutral-hover);
}


/* Button links variants */
[class*="button-link"] {
  text-decoration: var(--text-decoration-link);
  padding: 0;
}

[class*="button-link"]:hover,
[class*="button-link"]:focus {
  text-decoration: var(--text-decoration-link-hover);
}

.button-link-primary {
  color: var(--color-text-button-ghost-primary);
}

.button-link-primary:hover,
.button-link-primary:focus {
  color: var(--color-text-button-ghost-primary-hover);
}

.button-link-secondary {
  color: var(--color-text-button-ghost-secondary);
}

.button-link-secondary:hover,
.button-link-secondary:focus {
  color: var(--color-text-button-ghost-secondary-hover);
}

.button-link-neutral {
  color: var(--color-text-button-ghost-neutral);
}

.button-link-neutral:hover,
.button-link-neutral:focus {
  color: var(--color-text-button-ghost-neutral-hover);
}
