:root {
  --padding-block-main: var(--spacer-16) 0 var(--spacer-60);
}

.layout-grid-wrapper-20 {
  display: grid;
  grid-template-columns:
    minmax(var(--spacer-20), 1fr)
    minmax(auto, var(--screen-md))
    minmax(var(--spacer-20), 1fr);
}

.layout-grid-wrapper-20 > * {
  grid-column: 2;
}

/* <body> element */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  flex-shrink: 0;
}

/* <main> element */
.main {
  padding-block: var(--padding-block-main);
  flex-grow: 1;
  align-content: start;
}
