@import '_reset.css';
@import '_vars.css';
@import '_layouts.css';
@import '_fonts.css';
@import '_buttons.css';
@import '_helpers.css';


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-body);
  font-family: var(--font-family-default);
  line-height: var(--line-height-default);
  color: var(--color-text-default);
  margin: unset;
}

* {
  margin-bottom: 0;
}


*:focus {
  outline: var(--outline-focus);
  outline-offset: var(--offset-outline-focus);
}
